@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.modalLetterContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../assets/letter.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
  background-color: aqua;

  animation: zoomIn 0.5s ease-out forwards;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
