@use "../../../styles/variables" as *;

.houseCard {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
  background-color: black;
  overflow: hidden;

  img {
    position: absolute;
    height: 100%;
    top: -25px;
    left: 30px;
  }

  h3 {
    position: absolute;
    color: $lite-yellow;
    z-index: 1;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }

  p {
    position: absolute;
    color: $lite-yellow;
    left: 210px;
    top: 80px;
    right: 30px;
  }
}

.houseCardButton {
  color: $lite-yellow;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 250px;
  background-color: $dark-blue;

  &:hover
   {
    color: $lite-yellow !important;
    background-color: $background-dark !important;
    border: 2px solid $lite-yellow !important;
  }
}


:global {
  .houseCardButton{
    .houseCardButton.ant-btn.ant-btn{
      color: $lite-yellow;
      background-color: $dark-blue;
      border: none;
      padding: 8px 16px;
      transition: all 0.3s ease;
      &:hover {
        color: $lite-yellow;
        background-color: $background-dark;
        border: 2px solid $lite-yellow;
      }  }

  }
}

