

.hgPage{
  container-type: inline-size;
  container-name: pageContainer;
}

.hgPageSlider {
  padding-top: 10%;
  height: 100dvh;
}


.hgPageBanner {
  height: 100dvh;
}

@container pageContainer (max-width: 480px) {
  .hgPageSlider{
    padding-top: 60%;
  }
}