@use "../../../styles/variables" as *;

.sliderContainer {
  position: relative;
  width: 100%;
  height: 70dvh;
  margin: 0 auto;
  overflow: hidden;
  perspective: 800px;
  box-sizing: border-box;
  container-type: size;
}

.slider {
  position: relative;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
  transform-style: preserve-3d;
  transform-origin: center;
  height: 100%;
  max-height: 100%;
  width: 50%;
  border-radius: 15px;

  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0) 70%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0) 70%
  );

  cursor:
    url("../../../assets/cursor2.png") 10 10,
    auto;
}

.active {
  opacity: 1;
  transform: translateX(-50%) scale(1) rotateY(0deg);
  z-index: 2;

}

.next {
  opacity: 0.5;
  transform: translateX(50%) scale(0.8) rotateY(-30deg);
  z-index: 1;
  filter: blur(50px);
}

.prev {
  opacity: 0.5;
  transform: translateX(-150%) scale(0.8) rotateY(30deg);
  z-index: 1;
  filter: blur(50px);
}

.buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  cursor:
    url("../../../assets/cursor2.png") 10 10,
    auto;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}


@container (max-width: 320px) {
  .sliderContainer{
    height: 50dvh;
  }
  .slide {
    width: 90%;
  }
}

@container (max-width: 600px) {
  .slide {
    width: 80%;
  }
}

@container (max-width: 900px) {
  .slide {
    width: 70%;
  }
}

