@use "../../../styles/variables" as *;

@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: auto;
  height: 80vh;
  animation: zoomIn 0.5s ease-out forwards;
}

.modalImage {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  height: 100%;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}

.closeButton {
  position: absolute;
  right: 0px;
  top: 2%;
  background-color: none !important;

  &:hover {
    cursor:
      url("../../assets/cursor2.png") 10 10,
      auto;
  }
}
.closeButtonIcon {
  font-size: 1.2rem !important;
}

.rowButton{
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: row;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.buttons{
  font-size: 1em;
}

.primaryButton {
  position: relative;
  color: $dark;
  background-color: $lite-yellow;
  width: 70%;
 

  &:hover {
    background-color: $yellow;
    color: $dark ;
    cursor:
      url("../../assets/cursor2.png") 10 10,
      auto;
  }
}

.secondaryButton{
  width: 30%;
}







