@use "../../../styles/variables" as *;

@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.modalLetterContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: auto;
  height: 80vh;

  animation: zoomIn 0.5s ease-out forwards;
}

.modalLetterImage {
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  height: 100%;
}

.modalLetterContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}

.closeButton {
  position: absolute;
  right: 0px;
  top: 2%;
  background-color: none !important;

  &:hover {
    cursor:
      url("../../assets/cursor2.png") 10 10,
      auto;
  }
}
.closeButtonIcon {
  font-size: 1.2rem !important;
}

.primaryButton {
  position: relative;
  color: $dark;
  background-color: $lite-yellow;
  top: 35%;

  &:hover {
    background-color: $yellow !important;
    color: $dark !important;
    cursor:
      url("../../assets/cursor2.png") 10 10,
      auto;
  }
}
.defaultButton {
  border-color: $yellow;

  border-color: $yellow !important;
  color: $dark !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
