$background-dark: rgba(20, 20, 20, 0.6);
$dark: #141414;
$blue: #00496b;
$lite-yellow: #fdffdc;
$yellow: rgba(250, 255, 151, 0.921);

$cursor:
  url("../assets/cursor.png") 10 10,
  auto;
$cursorHover:
  url("../assets/cursor2.png") 10 10,
  auto;
