@use "../../styles/variables" as *;

body {
  position: relative;
  background-color: inherit;
  cursor:
    url("../../assets/cursor.png") 10 10,
    auto;
}

.pageContainer {
  max-width: 1200px;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  container-type: inline-size;
}

.main {
  width: 100%;
  background-color: $background-dark;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow-y: auto;
}

.customScrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark;
    border-radius: 40px;
    border: 2px solid $lite-yellow;
    box-shadow: 0px 0px 10px 2px $yellow;
  }
}

@container (max-width: 1000px) {
  .pageContainer {
    max-width: 90%;
  }
}

@container (max-width: 600px) {
  .pageContainer {
    max-width: 80%;
  }
}

@container (max-width: 320px) {
  .pageContainer {
    max-width: 100%;
    padding: 0 10px;
  }

  .main {
    background-color: transparent;
  }
}



