.houseCard {
  display: flex;
  position: relative;
  width: auto;
  height: 100%;
  justify-content: center;
  border-radius: 50%;

  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0) 70%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0) 70%
  );

  h3 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    left: 10px;
    text-align: center;
    width: fit-content;
    opacity: 50%;
    color: #ffffff;
    font-weight: 800;
    font-size: 70px;
  }
}
