@use "../../styles/variables" as *;
.bgGard {
  font-size: 20px;
  margin: 1em ;
  position: relative;
}

.hatImg{
  position: absolute;
  z-index: 10;  
  height: 300px;
  width: auto;
  top:  60%;
  left: 70%;
  filter: drop-shadow(0px 10px 15px rgb(0, 0, 0));
}

