@import "../../styles/variables";

// TODO: ипортанты убрать!
.header {
  display: flex;
  width: 100%;
  height: 65px;
  position: sticky;
  z-index: 1;
  background-color: $dark-blue;
  justify-content: space-between;
  align-self: center;
}

.title {
  font-family: "Almendra";
  margin: 0;
  text-transform: uppercase;
  color: $lite-yellow;
  text-shadow: 0px 0px 6px $yellow;
  font-size: 48px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
  cursor:
  url("../../assets/cursor2.png") 10 10,
  auto;
}

.textButton {
  color: $lite-yellow;
  transition: text-decoration 0.3s ease-in-out;
  cursor:
  url("../../assets/cursor2.png") 10 10,
  auto;

  &:hover {
    text-decoration: underline !important;
    color: $lite-yellow !important;

  }
}

.buttonsRow {
  display: flex;
  align-items: center;
}
.buttonIcon {
  color: $lite-yellow;
  transition: font-size 0.3s ease-in-out;
  font-size: 24px !important;

  &:hover {
    font-size: 24px !important;

  }
}

.development {
  cursor: not-allowed;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease;
  }
}