@use "../../../styles/variables" as *;

.inputColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;   
}

.labelRow {
  display: flex;
  flex-direction: row;
}

.sm {
  font-size: 14px;
}
.md {
  font-size: 16px;
}
.xl {
  font-size: 18px;
}

.label {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.input {
  width: 100%;
  font-size: 1em;
  height: 1em;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid;
  border-top: 1px solid;
  background: none;
  background-color: transparent;
  font-family: "Texturina", serif;

  &:hover,
  &:focus {
    background: none;
    background-color: rgba(219, 219, 219, 0.233);
    outline: none;
  }
}

.error{
margin-top: 0.5em;
color: red;
}

