@use "../../styles/variables" as *;

.bannerContainer {
  background-color: $dark;
  color: $lite-yellow;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  padding: 15px 0 25px 0;
  height: 100dvh;
  box-sizing: border-box;

  h2 {
    font-size: 48px;
    color: $lite-yellow
  }

  p {
    font-size: clamp(16px, 2vw, 20px);
    text-indent: 3%;
    margin-top: 2.5vh;
    padding: 0 25px;
  }
}

.bannerSlider {
  margin-top: 5vh;
  max-height: 50%;
  width: 100%;
  object-fit: contain;
}

.imageBannerSlider {
  height: auto;
  max-height: 100%;
}

// TODO: для проверки
@media (max-width: 480px) {
  .bannerContainer {
    background-color: aqua;
  }
}