@use "../../styles/variables" as *;

.searchCardListRow {
  background-color: $background-dark;
  color: $lite-yellow;
  margin-bottom: 10px;
}

.cardListRow {
  flex-grow: 1;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.searchInput {
  background-color: $background-dark;
  color: $lite-yellow;
  margin-bottom: 15px;

  &:is(:hover, :focus-within) {
    color: $lite-yellow;
    background-color: $background-dark;
  }
}

